.title {
  font-size: 40px;
}

.game-screen {
  height: 65vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  height: 100%;
  width: 75%;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user {
  height: 50%;
  width: 40%;
  background-color: aliceblue;
}

.user h1 {
  text-align: center;
}

.computer {
  height: 50%;
  width: 40%;
  background-color: aliceblue;
}

.computer h1 {
  text-align: center;
}

.user-choice {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 5px black solid
}

.computer-choice {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 5px black solid
}

.message {
  font-size: 20px;
}